
<div class="panel panel-default" >   
  <div class="panel-body">
    
     <!-- Dealer -->
    <div class='well well-sm'>
      <h3><span class="label label-default">Delear</span></h3>      
      <%= Game::Delear_picture %>      
       
      <% if @delear_hand %>               
        <% @delear_hand.each_with_index do |card,i| %>                     
          <% if is_delear_turn? %>
            <!-- # display all cards-->
            <% src = Card.to_img_src(card) %>    
          <% else %>
            <!-- # The first card needs to be covered. -->
            <% src = (i== 0 ? Card::COVER  : Card.to_img_src(card)) %>    
          <% end %>            
          <img src="<%= src %>" width="50"/>   
        <% end %>
      <% end %>
      
      <% if @delear_total && @delear_hand && is_delear_turn? %>          
        <div style='padding-top:5px;'>
          <span class="label label-info">Total = <%= @delear_total.to_s %></span>
          <% if @delear_cards_status &&  !@delear_cards_status.empty? %>
          <div style='padding-top:5px'>
          <% if is_blackjack?(@delear_hand) %> <span class="blackjack">BlackJack!</span></p>
          <% elsif is_twentyone?(@delear_hand) %> <span class="twentyone">TwentyOne!</span></p>                       
          <% elsif is_bursted?(@delear_hand) %> <span class="bursted">Bursted!</span></p>                 
          <% end %>
          </div>
          <% end %>
        </div>
      <% end %>                          
    </div>

    <!-- Player -->
    <div class='well well-sm'>    
    <!--[account]-->       
      <h3><span class="label label-default"><%= @player_name %></span> 
          <span class='label label-primary'>Money =  $<%= @account %></span></h3>            
      <% if @player_hand %>       
        <% @player_hand.each_with_index do |card,i| %>     
        <% src = Card.to_img_src(card) %>               
          <% if (i == @player_hand.count - 1) %>            
            <img id="player_card_last_one" src="<%= src %>" width="50"/>               
          <% else %>
            <img src="<%= src %>" width="50"/>   
          <% end %>
        <% end %>
        
        <script>                                        
            $( document ).ready(function() {             

              $("#player_card_last_one").hide();
              $("#player_cards_total").hide();
              $("#player_msg").hide();

              $("#player_card_last_one").fadeIn(1000, function(){              
                $("#player_cards_total").fadeIn(200);
                $("#player_msg").fadeIn(200)
              });
            });            
        </script>

        <% if @player_total %>
        <div id="player_cards_total" style='padding-top:5px;'>
          <span class="label label-info">Total = <%= @player_total.to_s %></span>
          <div style='padding-top:5px'>
          <% if is_blackjack?(@player_hand) %> <span class="blackjack">BlackJack!</span></p>
          <% elsif is_twentyone?(@player_hand) %> <span class="twentyone">TwentyOne!</span></p>                       
          <% elsif is_bursted?(@player_hand) %> <span class="bursted">Bursted!</span></p>        
          <% elsif !@player_stay %>              
            <div style='height:30px;'>          
              <form id="hit_form" action="/player/hit" method="post">
                <input class="btn btn-default btn-xs" type="submit" value="hit" />
              </form>        
              <form id="stay_form" action="/player/stay" method="post">
                <input class="btn btn-default btn-xs" type="submit" value="stay" />
              </form>
            </div>
          <% end %>
          </div>
        </div>
        <% end %>      
      <% end %>
      
      <% if @player_total && @player_hand %>        
        <% if @player_win_or_lose %>
          <div id= "player_msg" class="alert alert-warning" role="alert">          
          <p><strong><%= @player_win_or_lose %></strong></p>
          <p><button type="button" class="btn btn-default btn-xs" onclick="window.location.href='game/play_again'">
            Play again</button></p>
          </div>                          
        <% end %>        
      <% end %>            
    </div>

  </div>
</div>



<% if (false) %>

<!--[debug]-->
<div class="panel panel-default" >
  <div class="panel-heading">
    <h3 class="panel-title">Deck</h3>
  </div>
  <div class="panel-body">
  
  <% if @deck %>    
    <% @deck.each_with_index do |card,i| %>
      <% if (i+1) % 13 == 1 %>
        <br/>
      <% end %>
      <% src = Card.to_img_src(card) %>    
      <% src = Card::COVER %>      
      <img src="<%= src %>" width="30"/>
      <% if (i+1) % 13 == 0 ||  ((i+1) == @deck.count && (i+1) % 13 !=0) %>
        <br/>
      <% end %>      
    <% end %>
  <% end %>
  </div>
</div>

<!--[debug]-->

<% if @delear_hand && @player_hand %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Hands</h3>
  </div>
  <div class="panel-body">
    <h3>delear hand</h3>
    <%= @delear_hand.inspect %>    
    <h3>player hand</h3>
    <%= @player_hand.inspect %>    
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Deck</h3>
  </div>
  <div class="panel-body">
    <!--[debug]-->
  <% @deck.each_with_index do |e,i| %>
    <% if (i+1) % 13 == 1 %>
    <%= "<div class='well'>" %>
    <% end %>
    <%   s = e[0].downcase %>
    <%   n = e[1].downcase %>
    <span> [<%=s%>-<%=n%>] </span>
    <% if (i+1) % 13 == 0 %>
    <%= "</div>" %>
    <% end %>
  <% end %>
  </div>
</div>
<% end %>
<% end %>
